.App {
  text-align: center;
}

/* darkBlueHeader theme */
.Navbar { 
  background-color : #2014ca
}

/* lightBlueHeaderUnselected theme */
.Navbar .navbar-brand { 
  color :#72c0f7; 
  text-align: right;
} 

/* lightBlueHeaderUnselected theme */
.Navbar .navbar-options { 
  color :#72c0f7; 
  text-align: right;
} 

.Navbar .navbar-clicked {
  color: #0e0c2b
}
