.App {
  text-align: center;
}

.Navbar .navbar-brand {
  color: #3c9fe7;
}

/* darkBlueHeader theme */
.darkBlueHeader { 
  background-color : #170da3
}

/* lightBlueHeaderUnselected theme */
.darkBlueHeader .lightBlueHeaderUnselected { 
  color :#3c9fe7; 
} 
